[Unit]
Description=GATE.IO API Server Service with WebSocket
After=network.target

[Service]
ExecStart=/root/anaconda3/envs/gateio/bin/python3.12 /root/gateio/api_server.py
Restart=always
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=3
User=root
Environment=PATH=/root/anaconda3/envs/gateio/bin:/usr/bin
WorkingDirectory=/root/gateio/

[Install]
WantedBy=multi-user.target
